* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    align-content: space-around;
    display: flex;
    flex-direction: column;
    background-color: #545f5f;
    color: #fbf5f3;
    justify-content: center;
}